@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700&display=swap");
:root {
  --Dark-Blue: #172339;
  --Grey: #49566d;
  --Cream: #f3ede7;
  --Cream-White: #faf8f6;
  --Purple: #a060ff;
  --Pink: #cb30e3;
  --Orange: #ffa84e;
}
/***General***/
body,
html,
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(
    to bottom,
    var(--Cream-White) 0%,
    var(--Cream-White) 75%,
    var(--Cream) 75%,
    var(--Cream) 100%
  );
  color: var(--Grey);
  display: flex;
  justify-content: center;
  font-family: "Epilogue", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.1px;
}
h1 {
  color: var(--Dark-Blue);
  font-size: 72px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: -1px;
}
h1 span {
  font-weight: 400;
}
h2 {
  color: var(--Dark-Blue);
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -0.5px;
}
h2 span {
  font-weight: 400;
}
h3 {
  color: var(--Dark-Blue);
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.18px;
  text-transform: uppercase;
}
h4 {
  color: var(--Grey);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}
q {
  font-size: 20px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0.1px;
}

small {
  color: var(--Grey);
  font-size: 15px;
  line-height: 32px;
}
button {
  font-family: Epilogue;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.18px;
  border-radius: 6px;
}

/***App***/
.App {
  text-align: center;
  max-width: 1110px;
  height: auto;
  margin: 50px auto;
}
.Navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Navigation-Btn {
  border: 1px solid var(--Dark-Blue);
  color: var(--Dark-Blue);
  background-color: none;
  padding: 12px 24px;
}
.Navigation-Btn:hover {
  background-color: var(--Dark-Blue);
  color: var(--Cream-White);
}

.Main-Container {
  display: flex;
  align-items: center;
  margin-top: 67px;
  width: 100%;
  height: 100vh;
}
.Hero-Container {
  position: relative;
  width: 73%;
  height: 100%;
  text-align: left;
  display: flex;
  align-items: center;
  background-image: url(./assets/image-hero-portrait.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}
.Hero {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 40px;
}
.Hero-about {
  width: 60%;
}
.Hero-Btn {
  border: none;
  background-color: var(--Dark-Blue);
  color: var(--Cream-White);
  padding: 14px 32px;
}
.Hero-Btn:hover {
  background: linear-gradient(135deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
}
.Hero-Curve {
  position: absolute;
  top: 0;
  left: 40%;
  transform: translate(0, 50%);
}
.Stats {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 27%;
  height: 100%;
}
.Comment {
  width: 100%;
  height: auto;
  background-color: var(--Dark-Blue);
  display: flex;
  justify-content: space-around;
  margin-top: 200px;
  border-radius: 15px;
}
.Comment h2,
.Comment h3,
.Comment h4,
q {
  color: var(--Cream-White);
}
.Comment-Img {
  position: relative;
  width: 40%;
  height: auto;
}
.Comment-Blur-Effect {
  position: absolute;
  bottom: -50px;
  left: 0;
}
.Comment-CMO-Img {
  position: absolute;
  right: 0;
  bottom: 0;
}

.Comment-Curve {
  position: absolute;
  right: -90px;
  top: 160px;
}

.Comment-Quote {
  width: 40%;
  margin: 85px;
  margin-left: 150px;
  padding: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.CMO-Details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0;
}
.Connect {
  margin-top: 95px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}
.Social {
  display: flex;
  justify-content: space-between;
  gap: 18px;
}
.SNS {
  width: 20px;
  height: 20px;
}
.SNS:hover {
  filter: opacity(80%);
}

@media screen and (max-width: 1000px) {
}
