@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700&display=swap");
:root {
  --Dark-Blue: #172339;
  --Grey: #49566d;
  --Cream: #f3ede7;
  --Cream-White: #faf8f6;
  --Purple: #a060ff;
  --Pink: #cb30e3;
  --Orange: #ffa84e;
}
/***General***/
body,
html,
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(
    to bottom,
    var(--Cream-White) 0%,
    var(--Cream-White) 75%,
    var(--Cream) 75%,
    var(--Cream) 100%
  );
  color: var(--Grey);
  display: flex;
  justify-content: center;
  font-family: "Epilogue", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.1px;
}
h1,
.Hero-Check {
  color: var(--Dark-Blue);
  font-size: 72px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: -1px;
}
h1 span {
  font-weight: 400;
}
h2 {
  color: var(--Dark-Blue);
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -0.5px;
}
h2 span {
  font-weight: 400;
}
h3 {
  color: var(--Dark-Blue);
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.18px;
  text-transform: uppercase;
}
h4 {
  color: var(--Grey);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}
q {
  font-size: 20px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0.1px;
}

small {
  color: var(--Grey);
  font-size: 15px;
  line-height: 32px;
}
button {
  font-family: Epilogue;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.18px;
  border-radius: 6px;
}

/***App***/
.App {
  text-align: center;
  width: 100vw;
  max-width: 1110px;
  height: auto;
  margin: 50px auto;
}
.Navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Navigation-Btn {
  border: 1px solid var(--Dark-Blue);
  color: var(--Dark-Blue);
  background-color: none;
  padding: 12px 24px;
}
.Navigation-Btn:hover {
  background-color: var(--Dark-Blue);
  color: var(--Cream-White);
}

.Main-Container {
  display: flex;
  align-items: center;
  margin-top: 67px;
  width: 100%;
  height: 80vh;
}
.Hero-Container {
  width: 73%;
  height: 100%;
  text-align: left;
  display: flex;
  align-items: start;
  justify-content: start;
  background-image: url(./assets/image-hero-portrait.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}
.Hero {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 40px;
}
.Hero-about {
  width: 60%;
}
.Hero-Btn {
  border: none;
  background-color: var(--Dark-Blue);
  color: var(--Cream-White);
  padding: 14px 32px;
}
.Hero-Btn:hover {
  background: linear-gradient(135deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
}
.Hero-Check {
  position: relative;
}
.Hero-Curve {
  position: absolute;
  top: -50%;
  width: 100%;
}
.Stats {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 27%;
  height: 100%;
}
.Comment {
  width: 100%;
  height: 540px;
  background-color: var(--Dark-Blue);
  display: flex;
  justify-content: space-between;
  margin-top: 200px;
  border-radius: 15px;
}
.Comment * {
  color: var(--Cream-White);
}
.Comment-Img {
  width: 50%;
  position: relative;
}
.Comment-CMO-Img {
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
  z-index: 1;
}
.Comment-Blur-Effect {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;
}
.Comment-Curve {
  position: absolute;
  bottom: 60%;
  right: 0;
}
.Comment-Quote {
  width: 50%;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 88px;
}
.CMO-Details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0;
}
.Connect {
  margin-top: 95px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}
.Social {
  display: flex;
  justify-content: space-between;
  gap: 18px;
}
.SNS {
  width: 20px;
  height: 20px;
}
.SNS:hover {
  filter: opacity(80%);
}

@media screen and (max-width: 1140px) {
  .App {
    width: 95vw;
  }
  .Main-Container {
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 0;
  }
  .Hero-Container {
    width: 100%;
    height: auto;
  }
  .Hero {
    width: 80%;

    justify-content: end;
  }
  .Stats {
    width: 100%;
    margin-top: 80px;
    flex-direction: row;
    justify-content: space-around;
  }
  .Comment-Curve {
    bottom: 70%;
  }
  .Comment-Quote {
    padding: 50px;
  }
}
@media screen and (max-width: 900px) {
  h1,
  .Hero-Check {
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -0.778px;
  }
  .Comment h2 {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.417px;
  }
  p {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.089px;
  }
  q {
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.09px;
  }
  .Comment * {
    text-align: center;
  }
  .Comment {
    width: 100%;
    flex-direction: column;
    margin-top: 275px;
    height: 684px;
    gap: 0;
  }
  .Comment-Img {
    width: 100%;
    height: 50%;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
  }
  .Comment-CMO-Img {
    width: 252px;
    height: 402px;
    bottom: 30%;
  }
  .Comment-Blur-Effect {
    left: 30%;
    top: -10%;
    width: 40%;
  }
  .Comment-Curve {
    width: 50px;
    height: 40px;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
  }
  .Comment-Quote {
    width: 100%;
    height: 50%;
    margin-bottom: 20px;
    padding: 58px;
    padding-top: 0;
    align-items: center;
  }
}
@media screen and (max-width: 640px) {
  h1,
  .Hero-Check {
    font-size: 38px;
    line-height: 44px;
    letter-spacing: -0.528px;
  }
  .Comment-Blur-Effect {
    width: 45%;
  }
}
@media screen and (max-width: 500px) {
  .Hero-Container {
    width: 100%;
    height: 650px;
    align-items: flex-start;
    background-image: url(./assets/image-hero-landscape.png);
    background-position: bottom;
  }
  .Hero {
    width: 100%;
    gap: 32px;
    justify-content: flex-start;
    /* align-items: center; */
  }
  .Hero-about {
    width: 100%;
  }
  .Stats {
    flex-direction: column;
    gap: 32px;
  }
  .Comment {
    justify-content: center;
    height: auto;
  }
  .Comment-Img {
    height: 350px;
  }
  .Comment-Blur-Effect {
    width: 70%;
    left: 15%;
  }
  .Comment-CMO-Img {
    bottom: 40%;
  }
  .Comment-Curve {
    bottom: 10%;
  }
  .Connect {
    flex-direction: column;
    align-items: center;
    gap: 33px;
  }
}
